{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<div class="row">
    <div class="col-md-4">
        <img src="/static/images/pucci-hero.jpg" alt="Picture of Pucci on the Beach" class="img-rounded img-responsive" />
    </div>
    <div class="col-md-8">
        <p>Pucci is a {{ year - 2008 }} year old Pomeranian who was rescued by <a href="http://www.thelagirl.com">Gwen</a> and <a href="http://www.lukebearl.com">Luke Bearl</a> in December 2015.
        </p>
    </div>
</div>

{% endblock %}
